@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMTMwOTczMC0wMDAxMzA5NzMwOlFGUnRqb2lGd2hlRHlXVXFrbW50YWliaTZQSnQyeGh0
always-auth=true
 
